<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CallbackUri" value="https://cib2-web-dev.bog.ge:8090/Oauth/Connect/Token.aspx" xdt:Locator="Condition(@key='CallbackUri')" xdt:Transform="Replace"/>
    <add key="AuthorizeUrl" value="https://cib2-web-dev.bog.ge:8090/Oauth/Connect/Authorize.aspx" xdt:Locator="Condition(@key='AuthorizeUrl')" xdt:Transform="Replace" />
    <add key="ApiBaseUrl" value="https://cib2-web-dev.bog.ge/api/" xdt:Locator="Condition(@key='ApiBaseUrl')" xdt:Transform="Replace" />
  </appSettings>
</configuration>