<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CallbackUri" value="https://account-test.bog.ge/auth/realms/bog-test/protocol/openid-connect/token" />
    <add key="AuthorizeUrl" value="https://account-test.bog.ge/auth/realms/bog-test/protocol/openid-connect/auth" />
    <add key="ApiBaseUrl" value="https://cib-api-staging.bog.ge/Api/" />
    <add key="ClientId" value="b2f8b285-ea48-40a7-b64a-443f7104a0ec" />

    <add key="AuthorizeUrlOld" value="http://cib2-web-dev.bog.ge/Oauth/Connect/Authorize.aspx" />

    <!--<add key="CallbackUri" value="http://cib2-web-dev.bog.ge/Oauth/Connect/Token.aspx" />
    <add key="AuthorizeUrl" value="http://cib2-web-dev.bog.ge/Oauth/Connect/Authorize.aspx" />
    <add key="ApiBaseUrl" value="https://cib2-web-dev.bog.ge/Api/" /> 
    <add key="ClientId" value="implicitclient" />-->
    
    <!--<add key="CallbackUri" value="https://businessonline.ge/Oauth/Connect/Token.aspx" />
    <add key="AuthorizeUrl" value="https://businessonline.ge/Oauth/Connect/Authorize.aspx" />
    <add key="ApiBaseUrl" value="https://api.businessonline.ge/api/" />
    <add key="ClientId" value="e91ccf56-835b-482f-9b5d-98f1b23d929a" />-->

    <!--<add key="CallbackUri" value="https://businessonline.ge/Oauth/Connect/Token.aspx" />
    <add key="AuthorizeUrl" value="https://sso-test.bog.ge/auth/realms/bog-test/protocol/openid-connect/auth" />
    <add key="ApiBaseUrl" value="http://localhost:5956/api/" />
    <add key="ClientId" value="bb59cf11-6963-4ffb-9883-bd7d6f1da246" />-->

    <add key="SecretKeyClientId" value="1ecfe4de-301d-40a6-9e01-ccbe7c7de0cb" />
    <add key="SecretKey" value="7xaCT/BcDKQh+f/IIvMaPEohz8OFEJ429aKvwfEWx/TxeJEYi1kmiWY81UvjkzZo9zllHV0pjznbWIDo7/kZcA==" />
    <add key="SecretKeyTokenIssuer" value="http://cib2-web-dev.bog.ge/api/connect/token" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
